.container {
    padding: .5rem .9rem 0rem 0rem;
    background: #9E0614;
    color: #F9FFF8;
}

.email {
    padding: 0 17px;
    height: 25px;
    border-left: 1px solid #B13843;
    border-right: 1px solid #B13843;
    margin: 0px 10px;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0; */
    font-size: 14px;
    padding: 4px 15px;
}

li {
    list-style: none;
}

i {
    font-size: 14px;
    margin-right: 7px;
}

.phone {
    font-size: 18px;
    transform: rotateY(180deg);
}



@media screen and (max-width: 750px) {
    ul {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .email {
        padding: 0 17px;
        height: 20px;
        border-left: 1px solid #B13843;
        border-right: 1px solid #B13843;
        margin: 0px 7px;
    }

    ul {
        font-size: 12px;
        padding: 0;

    }
}